mixin company-profile()

  -

  +fieldset-legend({ title: 'Company Profile', modifiers: ['headline'] })
    p.membership-form__p.
      Please tell us a little more about your business, how long it has been operating, what it is involved in, what service you provide, etc. This information will be published on the HRIA webpage as information to the general public.
    textarea.membership-form__textarea
