include ./components/fieldset-legend.pug
include ./components/hr.pug
include ./components/input-checkbox.pug
include ./components/input-text.pug
include ./components/label-for-input-checkbox.pug
include ./components/label-for-input-text.pug
include ./components/row-input-checkbox-label.pug
include ./components/row-label-input-text.pug
include ./parts/additional-contacts.pug
include ./parts/branch-details.pug
include ./parts/company-classifications.pug
include ./parts/company-details.pug
include ./parts/company-profile.pug
include ./parts/decaration.pug
include ./parts/membership-fee-options.pug
include ./parts/nomination-details.pug
include ./utilities/utilities.pug

form.membership-form(action='/' method='post')
  +company-details()
  +hr({})
  +company-profile()
  +hr({})
  +company-classifications()
  +hr({})
  +membership-fee-options()
  +hr({})
  +nomination-details()
  +hr({})
  +decaration()
  +hr({})
  +branch-details()
  +hr({})
  +additional-contacts()
